<div class="box">
 <div class="col-md-offset-1">
   <h1 class="yohaku">好きな本を共有しよう！</h1>
   
   <% if logged_in? %>
   
     <%= link_to "本の情報を投稿する", new_topic_path, class: "btn btn-lg btn-primary" %>
   
   <% else %>

     <%= link_to "新規登録", new_user_path, class: "btn btn-lg btn-primary" %>
     <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
   
   <% end %>
  
   <%= link_to "みんなのおすすめの本一覧", topics_path, class: "btn btn-lg btn-primary" %>
 </div>
</div>

<div class="col-md-offset-9">
 <a href="https://www.photo-ac.com/profile/414124">catwhiskers</a>さんによる<a href="https://www.photo-ac.com/">写真AC</a>からの写真
</div>