<div class="box">
 <div class="col-md-offset-1">
   <h1 class="yohaku">好きな本を共有しよう！</h1>

   <%= link_to "新規登録", new_user_path, class: "btn btn-lg btn-primary" %>
  
   <%= link_to "ログイン", '#', class: "btn btn-lg btn-primary" %>
  
   <%= link_to "おすすめの本一覧", '#', class: "btn btn-lg btn-primary" %>
 </div>
</div>

<div class="col-md-offset-9">
 <a href="https://www.photo-ac.com/profile/414124">catwhiskers</a>さんによる<a href="https://www.photo-ac.com/">写真AC</a>からの写真
</div>