<% @topics.each do |topic| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="topic-index-single">
        <div class="sub-section">タイトル</div>
        <p class="topic-text">
          <%= topic.title %>
        </p>
        <div class="sub-section">著者</div>
        <p class="topic-text">
          <%= topic.author %>
        </p>
        <div class="sub-section">ジャンル</div>
        <p class="topic-text">
          <%= topic.kind %>
        </p>
        <div class="sub-section">本の内容</div>
        <p class="topic-text">
          <%= topic.description %>
        </p>    
      </div>
    </div>
  </div>
<% end %>  