@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background-color: #DCDCDC;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.btn {
  background-color: #98FB98;
  border: 1px solid black;
  color: black;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}



.yohaku {
  padding-top: 15px;
  margin-bottom: 35px;
  font-weight: bold;
}

.box {
  width: 100vw;
  height: 75vh;
  background-image: url('539807_m.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

